import necessary modules

In [6]:
import numpy as np
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt

In [ ]:
import pathlib 
import pandas as pd

path = pathlib.Path('../').resolve()
transactions_path = pd.read_csv(path / 'data' / 'processed' / 'transactions' )

In [27]:
companies = [
    10000, 101200010, 101410010, 101600010, 102100020, 102700020,
    102840020, 103000030, 103338333, 103400030, 103600030,
    103700030, 103800030, 104300040, 104400040, 104470040,
    104900040, 105100050, 105150050, 107800070
]


trx_data_list = []
for company in companies:
    trx_data = pd.read_csv(path / 'data' / 'processed' / 'transactions' / f'transactions_company_{company}.csv')
    trx_data_list.append(trx_data)

trx_data = pd.concat(trx_data_list, axis=0)

do all companies share the same chains?

In [29]:
trx_data.head()

,id,chain,dept,category,company,brand,date,productsize,productmeasure,purchasequantity,purchaseamount
0,86246,205,97,9753,10000,0,2012-03-02,1.0,CT,1,0.69
1,86246,205,0,0,10000,0,2012-03-06,0.0,NaN,2,-6.69
2,86246,205,0,0,10000,0,2012-03-17,0.0,NaN,4,5.81
3,86246,205,0,0,10000,0,2012-03-20,0.0,NaN,1,-0.22
4,86246,205,0,0,10000,0,2012-03-24,0.0,NaN,1,5.79

In [55]:
chains = {}
depts = {}
categories = {}
brands = {}

for df in trx_data_list:
    company_id = str(df.company.unique()[0])  # Assuming each DataFrame has data from only one company
    chains[company_id] = sorted(df.chain.unique().tolist())
    depts[company_id] = sorted(df.dept.unique().tolist())
    categories[company_id] = sorted(df.category.unique().tolist())
    brands[company_id] = sorted(df.brand.unique().tolist())

In [86]:
chain_counts = {company_id: len(chain_list) for company_id, chain_list in chains.items()}


same_count = len(set(chain_counts.values())) == 1
print(f"All companies have the same number of chains: {same_count}")
print(f"{chain_counts}")

all_chains_individual = []
for company_id in chains:    
    all_chains_individual.append(set(chains[company_id]))

intersection = set()
for i in range(len(all_chains_individual)):
    if i == 0:
        intersection = all_chains_individual[i]
    else:
        intersection = intersection.intersection(all_chains_individual[i])

All companies have the same number of chains: False
{'10000': 133, '101200010': 133, '101410010': 132, '101600010': 133, '102100020': 133, '102700020': 133, '102840020': 132, '103000030': 133, '103338333': 123, '103400030': 133, '103600030': 133, '103700030': 134, '103800030': 133, '104300040': 132, '104400040': 133, '104470040': 130, '104900040': 133, '105100050': 132, '105150050': 132, '107800070': 132}

In [93]:
for company_id, chain_list in chains.items():
    difference = set(chain_list).difference(intersection)
    print(f"Company has {len(difference)} unique chains not in the intersection.")

Company has 11 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 1 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 12 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 8 unique chains not in the intersection.
Company has 11 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.
Company has 10 unique chains not in the intersection.

do all companies share the same departments?

In [94]:
dept_counts = {company_id: len(dept_list) for company_id, dept_list in depts.items()}

same_dept_count = len(set(dept_counts.values())) == 1
print(f"All companies have the same number of departments: {same_dept_count}")
print(f"{dept_counts}")

all_depts_individual = []
for company_id in depts:    
    all_depts_individual.append(set(depts[company_id]))

dept_intersection = set()
for i in range(len(all_depts_individual)):
    if i == 0:
        dept_intersection = all_depts_individual[i]
    else:
        dept_intersection = dept_intersection.intersection(all_depts_individual[i])

print(f"Number of departments in the intersection: {len(dept_intersection)}")
print(f"Common departments across all companies: {sorted(list(dept_intersection))}")

All companies have the same number of departments: False
{'10000': 5, '101200010': 6, '101410010': 2, '101600010': 14, '102100020': 13, '102700020': 7, '102840020': 7, '103000030': 10, '103338333': 15, '103400030': 9, '103600030': 10, '103700030': 17, '103800030': 11, '104300040': 18, '104400040': 6, '104470040': 5, '104900040': 4, '105100050': 14, '105150050': 14, '107800070': 5}
Number of departments in the intersection: 0
Common departments across all companies: []

do all companies share the same brands?

In [95]:
brand_counts = {company_id: len(brand_list) for company_id, brand_list in brands.items()}

same_brand_count = len(set(brand_counts.values())) == 1
print(f"All companies have the same number of brands: {same_brand_count}")
print(f"{brand_counts}")

all_brands_individual = []
for company_id in brands:    
    all_brands_individual.append(set(brands[company_id]))

brand_intersection = set()
for i in range(len(all_brands_individual)):
    if i == 0:
        brand_intersection = all_brands_individual[i]
    else:
        brand_intersection = brand_intersection.intersection(all_brands_individual[i])

print(f"Number of brands in the intersection: {len(brand_intersection)}")
print(f"Common brands across all companies: {sorted(list(brand_intersection))}")

All companies have the same number of brands: False
{'10000': 7, '101200010': 26, '101410010': 2, '101600010': 48, '102100020': 14, '102700020': 11, '102840020': 35, '103000030': 18, '103338333': 28, '103400030': 30, '103600030': 17, '103700030': 49, '103800030': 30, '104300040': 39, '104400040': 33, '104470040': 3, '104900040': 24, '105100050': 11, '105150050': 16, '107800070': 22}
Number of brands in the intersection: 0
Common brands across all companies: []